

  <nav>
    <div class="navbar">
      <div class="logo"><a routerLink="/home">CodingLab</a></div>
      <ul class="menu">
        <li><a routerLink="/user-list">User list</a></li>
        <li><a (click)="onLogoutClick()">Signout</a></li>
        <!-- <li><a href="#Category">Category</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="#Feedback">Feedback</a></li> -->
      </ul>
    </div>
  </nav>
  <!-- <section id="Home">Home Section</section>
  <section id="About">About Section</section> -->
  <!-- <section id="Category">Category Section</section>
  <section id="Contact">Contact Section</section>
  <section id="Feedback">Feedback Section</section> -->
  <div class="button">
    <a href="#Home"><i class="fas fa-arrow-up"></i></a>
  </div>