
<section class="login-section">
  <div class="main_div">
    <div class="title">Login Form</div>
    
    <form action="#">
      <div class="input_box">
        <input type="text" placeholder="Username" required name="username" [(ngModel)]="user.username">
        <div class="icon"><i class="fas fa-user"></i></div>
      </div>
      <div class="input_box">
        <input type="password" placeholder="Password" required name="password" [(ngModel)]="user.password">
        <div class="icon"><i class="fas fa-lock"></i></div>
      </div>
      <!-- <div class="option_div">
        <div class="check_box">
          <input type="checkbox">
          <span>Remember me</span>
        </div>
        <div class="forget_div">
          <a href="#">Forgot password?</a>
        </div>
      </div> -->
      <div class="input_box button">
        <input type="submit" value="Login" (click)="onLoginClick()">
      </div>
      <div class="sign_up">
        Not a member? <a routerLink="/register">Signup now</a>
      </div>
    </form>
  </div>
</section>